body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../public/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.b-button {
  border-radius: 4px;
  border: transparent;
  background-color: #0080c8;

  color: #fff;
  font: normal 500 18px/21.94px "Montserrat", "sans-serif";
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
}

.b-button__one {
  /* display: flex; */
  width: 190px;
  height: 50px;
  padding: 14px 32px;
  gap: 10px;
}

.b-button__two {
  width: 155px;
  height: 54px;
  padding: 16px 32px;
  gap: 10px;

  @media (max-width: 375px) {
    width: 327px;
  }
}

.t-button {
  border-radius: 4px;
  border: solid #fff 2px;
  background-color: transparent;

  color: #fff;
  font: normal 500 18px/21.94px "Montserrat", "sans-serif";
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
}

.t-button__one {
  width: 142px;
  height: 50px;
  padding: 14px 32px;
  gap: 10px;
}

.t-button__two {
  display: flex;
  width: 263px;
  height: 54px;
  padding: 16px 32px;
  gap: 10px;

  @media (max-width: 375px) {
    width: 324px;
  }
}

.title-page {
  color: #fff;
  font: normal 800 128px/156.03px "Open Sans", "sans-serif";
  text-transform: uppercase;

  @media (max-width: 768px) {
    font: normal 800 96px/117.02px "Open Sans", "sans-serif";
  }

  @media (max-width: 375px) {
    font: normal 800 64px/78.03px "Open Sans", "sans-serif";
  }
}

.title-page-outline {
  color: #fff;
  font: normal 800 128px/156.03px "Open Sans", "sans-serif";
  text-transform: uppercase;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;

  @media (max-width: 768px) {
    font: normal 800 96px/117.02px "Open Sans", "sans-serif";
  }

  @media (max-width: 375px) {
    font: normal 800 64px/78.03px "Open Sans", "sans-serif";
  }
}

.text-social-media {
  color: #fff;
  font: normal 500 24px/29.26px "Montserrat", "sans-serif";
  text-transform: uppercase;

  border: transparent;
  background-color: transparent;
}

.text-trailers {
  color: #fff;
  font: normal 500 34px/29.26px "Montserrat", "sans-serif";
  text-transform: uppercase;
}
