body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;

  @media (max-width: 420px) {
    background-size: inherit;
  }
}

.container {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;

  @media (max-width: 420px) {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.header {
  width: 100%;
  height: 40px;
  display: flex;

  margin: 30px 52px;
  justify-content: space-around;

  @media (max-width: 915px) {
    width: 95%;
    margin: 25px 32px;
  }

  @media (max-width: 912px) {
    width: 100%;
    margin: 25px 32px;
  }

  @media (max-width: 896px) {
    width: 90%;
  }

  @media (max-width: 740px) {
    width: 70%;
  }

  @media (max-width: 667px) {
    width: 50%;
    margin: 25px 12px !important;
  }

  @media (max-width: 540px) {
    width: 50%;
  }

  @media (max-width: 420px) {
    width: 100%;
  }

  @media (max-width: 414px) {
    width: 50%;
  }

  @media (max-width: 280px) {
    width: 20%;
  }
}

.button-hamburg {
  margin-right: 350px;
  margin-left: -50px;

  @media (max-width: 1280px) {
    margin-right: 200px;
    margin-left: -100px;
  }

  @media (max-width: 912px) {
    margin-right: 50px;
    margin-left: -150px;
  }

  @media (max-width: 896px) {
    margin-left: -100px;
  }

  @media (max-width: 820px) {
    margin-right: -250px;
    margin-left: -250px;
  }

  @media (max-width: 768px) {
    margin-right: -250px;
    margin-left: -250px;
  }

  @media (max-width: 740px) {
    margin-right: 200px;
    margin-left: -10px;
  }

  @media (max-width: 667px) {
    margin-right: 800px;
  }

  @media (max-width: 540px) {
    margin-right: -10px;
    margin-left: -250px;
  }

  @media (max-width: 290px) {
    margin-right: 500px;
    margin-left: -20px;
    justify-content: left;
  }
}

.button-header {
  margin-right: 20px;
  @media (max-width: 667px) {
    margin-right: -800px;
  }

  @media (max-width: 540px) {
    margin-left: 20px;
  }

  @media (max-width: 280px) {
    display: flex;
  }
}

.hamburguer {
  width: 52px;
  height: 52px;

  @media (max-width: 420px) {
    width: 35px;
    height: 35px;
  }
}

.b-button {
  border-radius: 4px;
  border: transparent;
  background-color: #0080c8;

  color: #fff;
  font: normal 500 18px/21.94px "Montserrat", "sans-serif";
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 280px) {
    font: normal 600 14px/21px "Montserrat", "sans-serif";
    letter-spacing: 0px;
  }
}

.b-button__one {
  width: auto;
  height: 45px;
  padding: 14px 32px;
  gap: 10px;
  margin-right: 40px;

  @media (max-width: 420px) {
    border: transparent;
    background-color: transparent;
    color: transparent;
  }
}

.b-button__two {
  width: auto;
  height: 45px;
  padding: 16px 32px;
  gap: 10px;
  margin-right: 40px;

  @media (max-width: 912px) {
    width: 244px;
    height: 54px;
  }

  @media (max-width: 540px) {
    width: 327px;
    margin-right: 0px;
    margin-bottom: 24px;
  }

  @media (max-width: 490px) {
    width: 260px;
    margin-left: 0;
  }

  @media (max-width: 290px) {
    width: 210px;
    height: 45px;
  }
}

.t-button {
  border-radius: 4px;
  border: solid #fff 2px;
  background-color: transparent;

  color: #fff;
  font: normal 500 18px/21.94px "Montserrat", "sans-serif";
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 280px) {
    font: normal 600 14px/21px "Montserrat", "sans-serif";
    letter-spacing: 0px;
  }
}

.t-button__one {
  width: auto;
  height: 45px;
  padding: 12px 32px;
  gap: 10px;

  @media (max-width: 420px) {
    border: transparent;
    background-color: transparent;
    color: transparent;
  }
}

.t-button__two {
  display: flex;
  width: auto;
  height: 45px;
  padding: 12px 32px;
  gap: 10px;

  @media (max-width: 912px) {
    padding: 12px 20px;
    height: 54px;
  }

  @media (max-width: 540px) {
    width: 327px;
    margin-left: 94px;
  }

  @media (max-width: 490px) {
    width: 260px;
    margin: 0px 75px;
  }

  @media (max-width: 390px) {
    width: 260px;
    margin: 0px 50px;
  }

  @media (max-width: 290px) {
    width: 210px;
    height: 45px;
    margin: 10px 20px 10px 1px;
  }
}

.title-page {
  color: #fff;
  font: normal 800 128px/80px "Open Sans", "sans-serif";
  text-transform: uppercase;

  @media (max-width: 912px) {
    font: normal 800 96px/80px "Open Sans", "sans-serif";
  }

  @media (max-width: 915px) {
    font-size: 80px;
  }

  @media (max-width: 896px) {
    margin-top: 100px;
    font: normal 800 80px/50px "Open Sans", "sans-serif";
  }

  @media (max-width: 740px) {
    margin-top: 80px;
    font-size: 70px;
  }

  @media (max-width: 420px) {
    font: normal 800 50px/60px "Open Sans", "sans-serif";
  }

  @media (max-width: 280px) {
    font: normal 800 44px/20px "Open Sans", "sans-serif";
  }
}

.title-page-outline {
  color: #fff;
  font: normal 800 128px/80px "Open Sans", "sans-serif";
  text-transform: uppercase;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;

  @media (max-width: 912px) {
    font: normal 800 96px/80px "Open Sans", "sans-serif";
  }

  @media (max-width: 915px) {
    font-size: 80px;
  }

  @media (max-width: 896px) {
    font: normal 800 80px/50px "Open Sans", "sans-serif";
  }

  @media (max-width: 768px) {
    font: normal 800 96px/80px "Open Sans", "sans-serif";
  }

  @media (max-width: 740px) {
    font: normal 800 70px/50px "Open Sans", "sans-serif";
  }

  @media (max-width: 420px) {
    font: normal 800 50px/60px "Open Sans", "sans-serif";
  }

  @media (max-width: 280px) {
    font: normal 800 44px/20px "Open Sans", "sans-serif";
  }
}

.text-trailers {
  color: #fff;
  font: normal 500 34px/29.26px "Montserrat", "sans-serif";
  text-transform: uppercase;

  @media (max-width: 912px) {
    text-align: left;
  }

  @media (max-width: 667px) {
    padding-left: 20px;
  }

  @media (max-width: 490px) {
    font: normal 500 20px/20px "Montserrat", "sans-serif";
    margin-right: 250px;
  }

  @media (max-width: 490px) {
    font: normal 500 15px/20px "Montserrat", "sans-serif";
  }
}

.central-content {
  display: flex;
  margin: 5px auto;
  justify-content: space-around;

  @media (max-width: 915px) {
    display: block;
    margin-left: 32px;
  }

  @media (max-width: 912px) {
    display: block;
    margin-left: 30px;
    width: 100%;
    text-align: left;
  }
  /* @media (max-width: 896px) {
    margin: 90px 32px 80px 32px;
  }

  @media (max-width: 740px) {
    margin: 70px 32px 80px 40px;
  }

  @media (max-width: 667px) {
    margin: 50px 32px 80px 40px;
  }
*/
  @media (max-width: 540px) {
    width: 60%;
    text-align: center;
    /* margin: 112px 32px 80px 40px; */
  }

  @media (max-width: 420px) {
    display: block;
    width: 50%;
    margin-left: 0px;
  }
  /*
  @media (max-width: 390px) {
    margin: 112px 32px 80px 25px;
  }

  @media (max-width: 280px) {
    margin: 112px 32px 80px 5px;
  } */
}

.div-central {
  display: block;

  @media (max-width: 912px) {
    margin-right: 32px;
  }

  @media (max-width: 896px) {
    width: 80%;
    margin-right: 20px;
    text-align: left;
  }

  @media (max-width: 667px) {
    width: 60%;
    margin-right: 10px;
    text-align: center;
  }

  @media (max-width: 540px) {
    width: 50%;
    margin-right: 0;
  }

  @media (max-width: 490px) {
    width: 80%;
    margin-right: 0;
    text-align: center;
  }

  @media (max-width: 390px) {
    width: 70%;
  }
  @media (max-width: 280px) {
    width: 60%;
  }
}

.div-button-two {
  display: flex;

  @media (max-width: 915px) {
    margin-top: 200px;
  }

  @media (max-width: 912px) {
    align-items: left;
    margin-top: 0;
  }

  @media (max-width: 896px) {
    margin-top: 200px;
  }

  @media (max-width: 540px) {
    display: block;
    margin-top: 0;
  }

  @media (max-width: 280px) {
    width: 40%;
    margin-left: 40px;
  }
}

.div-trailers {
  display: block;
  margin-top: 48px;
  text-align: left;

  @media (max-width: 912px) {
    width: 80%;
    margin: 80px 50px 30px 50px;
    text-align: left;
  }

  @media (max-width: 912px) {
    margin: 0;
  }

  @media (max-width: 790px) {
    width: 70%;
    margin: 0;
    margin-top: 50px;
  }

  @media (max-width: 667px) {
    width: 60%;
    margin: 0;
    margin-top: 30px;
  }

  @media (max-width: 490px) {
    width: 70%;
    margin: 0;
    margin-top: 30px;
  }

  @media (max-width: 395px) {
    width: 70%;
    text-align: center;
  }

  @media (max-width: 280px) {
    text-align: left;
  }
}

.img-trailer {
  width: 280px;
  height: 144px;

  @media (max-width: 912px) {
    width: 336px;
    height: 144px;
  }

  @media (max-width: 790px) {
    width: 270px;
    height: 130px;
  }

  @media (max-width: 490px) {
    width: 150px;
    height: 70px;
  }

  @media (max-width: 280px) {
    width: 150px;
    height: 70px;
  }
}

.first-img-trailer {
  margin-bottom: 32px;

  @media (max-width: 912px) {
    margin-right: 32px;
    margin-bottom: 0;
  }

  @media (max-width: 790px) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  @media (max-width: 667px) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  @media (max-width: 490px) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.images-trailer {
  display: block;

  @media (max-width: 912px) {
    display: flex;
    justify-content: flex-start;
  }

  @media (max-width: 490px) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @media (max-width: 280px) {
    display: block;
    margin-left: 20px;
  }
}

.social-media {
  width: 100%;
  margin-left: 40%;
  margin-top: 112px;
  justify-content: center;

  @media (width <= 1400px) {
    display: flex;
    margin-top: 56px;
    margin-left: 130px;
    margin-bottom: 20px;
    justify-content: flex-start;
  }

  @media (max-width: 915px) {
    margin-top: -650px;
    margin-left: 24px;
  }

  @media (max-width: 912px) {
    width: 80%;
    margin-left: 24px;
    margin-top: 112px;
    justify-content: flex-start;
  }

  @media (max-width: 740px) {
    margin-top: 50px;
  }

  @media (max-width: 490px) {
    margin-top: 20px;
    margin-left: -5px;
  }

  @media (max-width: 280px) {
    display: flex;
    margin-left: 0px;
  }
}

.text-social-media {
  color: #fff;
  font: normal 500 24px/29.26px "Montserrat", "sans-serif";
  text-transform: uppercase;

  border: transparent;
  background-color: transparent;

  margin-right: 40px;
  cursor: pointer;

  @media (max-width: 912px) {
    font: normal 500 14px/17.07px "Montserrat", "sans-serif";
  }

  @media (max-width: 420px) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (max-width: 390px) {
    margin-left: 25px;
  }

  @media (max-width: 280px) {
    margin-right: 5px;
    margin-left: 10px;
  }
}

.text-social-media-bold {
  font-weight: 600;

  @media (max-width: 912px) {
    margin-right: 320px;
    color: #fff;
  }

  @media (max-width: 667px) {
    margin-right: 250px;
  }

  @media (max-width: 540px) {
    margin-left: 20px;
    margin-right: 120px;
  }

  @media (max-width: 490px) {
    margin-left: 30px;
    margin-right: 50px;
  }

  @media (max-width: 420px) {
    margin-left: -70px !important;
    color: transparent !important;
    margin: 0;
  }

  @media (max-width: 280px) {
    display: block;
  }

  @media (max-width: 280px) {
    margin-right: 10px;
  }
}
